* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar {
  display: flex;
  align-items: center;
  padding: 20px;

}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {

  display: inline-block;
  margin-right: 20px;

}

nav ul li a {
  color: black;
  text-decoration: none;

}

nav ul li::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: teal;
  display: block;
  margin: auto;
  transition: 0.5s;

}

nav ul li:hover::after {
  width: 100%;
}

.logo img {
  transform: translateY(-10px);
  color: #0ef;
  box-shadow: 0 0 20px #0ef;

}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

video {
  width: 100%;
  height: 200%;
  object-fit: cover;
}

.text-container {
  font-size: 5rem;
  font-weight: bold;
  color: teal;
  padding-top: 10%;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  height: 400px;
  width: auto;
}

.text-container span {
  display: inline-block;
  transform: perspective(500px) rotateX(20deg);
  text-shadow: 3px 3px 10px rgba(255, 255, 255, 0.6), -3px -3px 10px rgba(255, 255, 255, 0.2);
}



.profile-dropdown {
  position: relative;
  width: fit-content;
}

.profile-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  width: 150px;
  border-radius: 50px;
  color: var(--black);
  /* background-color: white;
          box-shadow: var(--shadow); */
  cursor: pointer;
  border: 1px solid var(--secondary);
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
    border 0.3s;
}

.profile-dropdown-btn:hover {
  background-color: var(--secondary-light-2);
  box-shadow: var(--shadow);
}

.profile-img {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: url(profileicon.png);
  background-size: cover;
  margin-left: 25px;

}

.profile-img i {
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  font-size: 0.5rem;
  color: var(--green);
}

.profile-dropdown-btn span {
  margin: 0 0.5rem;
  margin-right: 0;
}

.profile-dropdown-list {
  position: absolute;
  top: 20px;
  width: 220px;
  right: 0;
  background-color: var(--white);
  border-radius: 10px;
  max-height: 10px;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: max-height 0.5s;
}

.profile-dropdown-list hr {
  border: 0.5px solid var(--green);
}

.profile-dropdown-list.active {
  max-height: 500px;
}

.profile-dropdown-list-item {
  padding: 0.5rem 0rem 0.5rem 1rem;
  transition: background-color 0.2s ease-in, padding-left 0.2s;
}

.profile-dropdown-list-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--black);
  margin-left: 75px;
  margin-bottom: -18px;
  margin-top: 5px;
}

.profile-dropdown-list-item a i {
  margin-right: 0.8rem;
  font-size: 1.1rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: var(--secondary);
  color: var(--white);
  line-height: 2.3rem;
  text-align: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: margin-right 0.3s;
}

.profile-dropdown-list-item:hover {
  padding-left: 1.5rem;
  background-color: var(--secondary-light);
}

a {

  text-decoration: none;
  color: #555;
}

p {

  color: #555;

}

.container {

  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {

  align-items: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

.col-2 {

  flex-basis: 50%;

  min-width: 300px;
}

.col-2 img {

  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.btn {
  display: inline-block;
  background: rgb(180, 180, 230);
  color: crimson;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: #e1e1ae;
}

.header {

  background: radial-gradient(rgb(180, 180, 230), #696666);
}

.header .row {
  margin-top: 70px;
}

.categories {


  background: radial-gradient(rgb(180, 180, 230), #696666);

}

.categories h1 {
  align-items: center;
  font-style: italic;
  color: black;
  padding-left: 40%;
  padding-bottom: 30px;
  text-decoration: underline;
}

.categories h3 {
  align-items: center;
  font-style: italic;
  color: black;
  padding-left: 10%;
  padding-bottom: 30px;
  padding: auto;


}



.col-3 {
  padding-left: 40px;
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 100;
}

.categories1 {


  background: radial-gradient(rgb(180, 180, 230), #696666);

}

.categories1 h1 {
  align-items: center;
  font-style: italic;
  color: black;
  padding-left: 40%;
  padding-bottom: 30px;
  padding-top: 30px;
  text-decoration: underline;
}

.categories1 h3 {
  align-items: center;
  font-style: italic;
  color: black;
  padding-left: 10%;
  padding-bottom: 30px;
  padding: auto;



}

.small-container {
  margin: auto;
  padding-left: 25px;

  padding-right: 25px;
  background: radial-gradient(rgb(180, 180, 230), #696666);

}

.small-container h2 {
  text-align: center;
  font-style: italic;
  padding-top: 30px;
  padding-bottom: 30px;
}


.col-4 {

  flex-basis: 33%;

  padding: 10px;

  min-width: 200px;
  transition: transform 0.5s;
  margin-bottom: 50px;
}

.col-4 img {

  width: 100%;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title::after {
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  color: black;
  font-weight: normal;
}

.col-4 p {
  font-size: 14px;
  color: black;

}

.rating .fa {
  color: gold;
}

.col-4 :hover {
  transform: translateY(-5px);
  color: #0ef;
  box-shadow: 0 0 20px #0ef;
}

.offer {
  background: radial-gradient(rgb(180, 180, 230), #696666);
  padding: 30px 0;
}

.col-2.offer-img {
  padding-left: 40%;

}

.small {
  color: #555;
}

.testimonial {
  background: radial-gradient(rgb(180, 180, 230), #696666);

}

.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
  background: linear-gradient(grey, lightblue);
}

.testimonial .col-3 p {
  font-style: italic;
}

.testimonial .col-3 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;

}

.testimonial .col-3:hover {
  transform: translateY(-10px);
  color: #0ef;
  box-shadow: 0 0 20px #0ef;
}

.footer {

  background: lightblue;
  color: black;
  font-size: 14px;
  padding: 60px 0 20px;
  cursor: pointer;
}

.footer p {

  color: black;
}

.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;

  text-align: center;
}

ul {
  list-style-type: none;
}

.app-logo {
  margin-top: 20px;
}

.app-logo img {
  width: 140px;
}

.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

.copyright {
  text-align: center;
}

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

.row-2 {
  justify-content: space-between;
  margin: 100px auto 50px;
}

.single-product {
  background: radial-gradient(rgb(180, 180, 230), #696666);

}

.single-product .col-2 img {
  padding: 0;
  align-items: center;
}

.single-product .col-2 :hover {
  color: #0ef;
  box-shadow: 0 0 20px #0ef;
  transform: translateY(-10px);

}


.single-product .col-2 {
  padding: 20px;
}

.single-product h4 {
  margin: 20px 0;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}

.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;
}

input:focus {
  outline: none;
}

.single-product .fa {
  color: gold;
  margin-left: 10px;
}

.roww-1 {
  margin-bottom: 0%;
  background: radial-gradient(rgb(180, 180, 230), #696666);

}

.roww-1 h2 {
  align-items: baseline;
  padding-top: 30px;
}

.roww-1 a h4 {
  align-items: top;
  margin-left: 90%;
  font-weight: bold;
  color: black;
  padding-bottom: 30px;
}

.account-page {
  padding: 50px 0;

}

.form-container {
  background: #ffffff;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form-container span {
  font-weight: bold;
  padding: 0 10px;
  color: #555555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}

.form-btn {
  display: inline-block;
}

.form-container form {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}

form input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}

form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}

form .btn:focus {
  outline: none;
}

#Loginform {
  left: -300px;
}

#Regform {
  left: 0;
}

form a {
  font-size: 12px;
}

#Indicator {
  width: 100px;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s;
}


/* media query for menu */
@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 120px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a {
    color: #fff;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }

  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }

  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }

  .single-product .row {
    text-align: left;
  }

  .single-product .col-2 {
    padding: 20px 0;
  }

  .single-product h1 {
    font-size: 26px;
    line-height: 26px;
  }
}

.cart-page {

  background: radial-gradient(rgb(180, 180, 230), #696666);
}

table {
  width: 100%;
  border-collapse: collapse;
  background: radial-gradient(rgb(180, 180, 230), #696666);

}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #ff523b;
  font-weight: normal;
}

td {
  padding: 10px 5px;
}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a {
  color: #ff523b;
  font-size: 12px;
}

td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.loction iframe {
  background: radial-gradient(rgb(180, 180, 230), #696666);

}

.contact {
  background: radial-gradient(rgb(180, 180, 230), #696666);

}

.con-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}

.con-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.con-col div .fa {
  font-size: 28px;
  margin: 10px;
  margin-right: 30px;
}

.con-col div p {
  padding-top: 10px;
  font-size: medium;
}

.con-col div h5 {
  margin-bottom: 5px;
  color: black;
  padding-top: 8px;
  font-style: italic;
}

.con-col input,
.con-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.about {
  background: radial-gradient(rgb(180, 180, 230), #696666);
  align-items: center;
  padding-top: 50px;
}

.about-us {
  width: 100%;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 20px;
  background: radial-gradient(rgb(180, 180, 230), #696666);


}

.about-col {
  flex-basis: 48%;
  padding: 30px px;


}

.about-col img {
  width: 100%;
}

.about-col h1 {
  padding-top: 0;
}

.about-col p {
  padding: 15px 0 25px;
}


#products-container {
  display: flex;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  background: radial-gradient(rgb(180, 180, 230), #696666);
  flex-wrap: wrap;
}